<div class="inner cover">
  <h1 class="cover-heading">Contribuye a organizaciones sin ánimo de lucro</h1>

  <p class="lead">Mejora tus conocimientos como desarrollador mientras ayudas a organizaciones sin ánimo de lucro.</p>
  <p class="lead">Un grupo de mentores te apoyará en tu camino para que con tus donaciones hagas del mundo un lugar mejor.</p>

  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Más Información</a>
  </p>
</div>
