<div class="inner cover">
  <h1 class="cover-heading">Code Donors</h1>

  <p class="lead">Sharp your coding skills by helping non-profits organizations.</p>
  <p class="lead">Mentors will help you through your path while you help to make the world a better place.</p>

  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Learn more</a>
  </p>
</div>
