<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">CodeDonors.org</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="#about">Qué es</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#services">Cómo funciona</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#why">Por que</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Ser Parte</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1>Contribuye a organizaciones sin ánimo de lucro</h1>
              <hr>
              <p>Mejora tus conocimientos como desarrollador mientras ayudas a organizaciones sin ánimo de lucro.</p>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Deseo saber más</a>
          </div>
      </div>
  </header>

  <section class="bg-primary" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">¿Qué es?</h2>
                  <hr class="light">
                  <p class="text-faded">CodeDonors es una iniciativa enfocada hacia desarrolladores, programadores de software, ingenieros, diseñadores y demás disciplinas involucradas con software para contribuir con un granito de arena a las cosas buenas del mundo a través de lo que mejor se sabe hacer. </p>
                  <p>No importa si apenas estas empezando y no tienes mucha experiencia, lo importante es que tengas ganas de ayudar, un grupo de mentores te apoyará en tu camino para que con tus donaciones hagas del mundo un lugar mejor.</p>
                  <a href="#" class="btn btn-default btn-xl">Cómo funciona!</a>
              </div>
          </div>
      </div>
  </section>

  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">¿Cómo funciona?</h2>
                  <hr class="primary">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                      <h3>Proyecto</h3>
                      <p class="text-muted">Una ONG interesada en hacer un proyecto realidad lo publica</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                      <h3>Vota</h3>
                      <p class="text-muted">La comunidad en general vota por los mejores proyectos</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-list-alt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                      <h3>Selección</h3>
                      <p class="text-muted">El equipo de CodeDonors se encarga de seleccionar los proyectos más votados de acuerdo a su viabilidad.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-terminal wow bounceIn text-primary" data-wow-delay=".3s"></i>
                      <h3>Realidad</h3>
                      <p class="text-muted">Los desarrolladores voluntarios de CodeDonors escogen su proyecto favorito y se encargan de hacerlo realidad</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="no-padding" id="portfolio">
      <div class="container-fluid">
          <div class="row no-gutter">
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="http://ironsummitmedia.github.io/startbootstrap-creative/img/portfolio/1.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Animales
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="http://ironsummitmedia.github.io/startbootstrap-creative/img/portfolio/2.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Medio Ambiente
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="http://ironsummitmedia.github.io/startbootstrap-creative/img/portfolio/3.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Personas Discapacitadas
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="http://ironsummitmedia.github.io/startbootstrap-creative/img/portfolio/4.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Derechos Humanos
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="http://ironsummitmedia.github.io/startbootstrap-creative/img/portfolio/5.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="#" class="portfolio-box">
                      <img src="http://ironsummitmedia.github.io/startbootstrap-creative/img/portfolio/6.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Category
                              </div>
                              <div class="project-name">
                                  Project Name
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </section>

  <aside class="bg-dark" id="why">
      <div class="container">
          <div class="call-to-action">
              <div class="col-sm-6">
                <h2>Desarrolladores</h2>
                <ul class="list-unstyled">
                  <li><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis delectus nulla laudantium sapiente, facilis tenetur, aperiam possimus expedita ducimus omnis similique voluptatibus totam vitae porro animi sunt harum consequuntur rerum.</h4></li>
                  <li><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum odio numquam rerum delectus ipsam, incidunt fugiat, enim perferendis architecto quidem dolores! Enim accusamus eius ea, in repudiandae similique, sed ipsa.</h4></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h2>ONGs</h2>
                <ul class="list-unstyled">
                  <li><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, molestias! Voluptatibus illum, facilis rem quas nesciunt doloremque, distinctio dolor est. Blanditiis sequi minus non, aperiam, perspiciatis eius architecto molestias? Vel.</h4></li>
                  <li><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto natus, sunt atque doloremque quisquam eum aliquid at ratione nemo. Eveniet recusandae tempora magni quaerat iure, nam, velit! Eum, tenetur voluptatum!</h4></li>
                </ul>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-default btn-xl wow tada">Deseo ser parte!</a>
              </div>
          </div>
      </div>
  </aside>

  <section id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Desarrollemos un mundo mejor :)</h2>
                  <hr class="primary">
                  <p>Si estas interesado suscribete a alguna de nuestras listas de correo, te mantendremos informado del avance de la iniciativa</p>
              </div>
              <div class="col-lg-4 col-lg-offset-2 text-center">
                  <i class="fa fa-envelope fa-3x wow bounceIn"></i>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Desarrolladores</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
              </div>
              <div class="col-lg-4 text-center">
                  <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <div class="form-group">
                    <label for="exampleInputEmail1">ONGs</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
              </div>
          </div>
      </div>
  </section>