header{
  /*background-image: url('https://images.unsplash.com/photo-1421757295538-9c80958e75b0?q=80&fm=jpg&s=b309d6983c9e14955b27e594f84a8b1e');*/
  background-image: url('http://ironsummitmedia.github.io/startbootstrap-creative/img/header.jpg');
  /*background-image: url('https://images.unsplash.com/photo-1416339442236-8ceb164046f8?q=80&fm=jpg&s=8c97ea9482ef1a54f1c262abbfa0c1e8');*/
}

#about .btn, #why .btn {
  margin-top: 20px;
}

#why li{
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

#why .section-heading{
  margin-bottom: 40px;
}

footer{
  height: 100px;
  padding-top: 40px;
}

footer a {
  color: white;
}

#contact .btn{
  margin-top: 50px;
}